<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Mini Google</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
<script src="pkg/bundle.js"></script>
<header>
    <div class="section">
        <h1 class="title">Mini Google</h1>
        <h2 class="subtitle">Experimental Search Engine</h2>
    </div>
</header>

<section class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <h2 class="subtitle">Library</h2>
            <ul>
                <li><a href="">
                    <div class="columns">
                        <div class="column is-1">
                            <i class="fa fa-eye">
                            </i>
                        </div>
                        <div class="column">
                            Search History
                        </div>
                    </div>
                </a></li>
                <li><a href="">
                    <div class="columns">
                        <div class="column is-1">
                            <i class="fa fa-bookmark">
                            </i>
                        </div>
                        <div class="column">
                            Bookmarks
                        </div>
                    </div>
                </a></li>
            </ul>
        </div>
        <div class="column">
            <div class="container">
                <div class="field">
                    <div class="columns">
                        <div class="column is-1">
            <span class="icon is-large">
                <i class="fa fa-meh-o"></i>
            </span>
                        </div>
                        <div class="column">
                            <form action="http://localhost:5001" method="post">
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <label>
                                            <input class="input is-link" autofocus type="text" placeholder="Search"
                                                   name="user_search">
                                        </label>
                                    </p>
                                    <div class="control">
                                        <button type="submit" class="button is-link">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="column is-3">
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Search Language</span>
                                        <span class="icon is-small">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a href="#" class="dropdown-item is-active">
                                            English
                                        </a>
                                        <a class="dropdown-item">
                                            Українська
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nostyle home">
                        {% if paginator %}
                            {% for page in paginator.pages %}
                                <li class="section">
                                    <div class="card">
                                        <a href="{{ page.permalink | safe }}">
                                            <div class="card-content">
                                                <h2 class="title is-4"> {{ page.title }}</h2>
                                                <p class="subtitle">{{ page.path }}</p>
                                                <p class="subtitle">{{ page.description }}</p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endif %}
                        <div style="text-align: center">
                            <h2>
                                {% if paginator.previous %}
                                    <a class="active" href="{{ paginator.previous }}"><i
                                            class="fa fa-arrow-left"></i></a>
                                {% else %}
                                    <span class="inactive"><i class="fa fa-arrow-left"></i></span>
                                {% endif %}
                                {{ paginator.current_index }} page
                                {% if paginator.next %}
                                    <a class="active" href="{{ paginator.next }}"><i class="fa fa-arrow-right"></i></a>
                                {% else %}
                                    <span class="inactive"><i class="fa fa-arrow-right"></i></span>
                                {% endif %}
                            </h2>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Project for Architecture of Computer Systems Course. <a href="https://github.com/maxymkuz/mini_google"><i
                class="fa fa-github-alt"></i></a>
        </p>
    </div>
</footer>
</html>