<head>
    <meta charset="utf-8"/>
    <title>Mini Google</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header>
    <div class="section">
        <h1 class="title">Mini Google</h1>
        <h2 class="subtitle">Experimental Search Engine</h2>
    </div>
</header>

<section class="section">
    <div class="columns">
        <div class="column is-4">
        </div>
        <div class="column is-2 is-centered">
            <figure class="image is-128x128">
                <img class="is-rounded" src="/public/crying_cat.jpg"
                     alt="Crying Cat">
            </figure>
        </div>
        <div class="column is-3">
            <p class="title is-4">Crying Cat: </p>
            <p class="title is-4">"{{error}}"</p>
        </div>
    </div>
</section>

</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Project for Architecture of Computer Systems Course. <a href="https://github.com/maxymkuz/mini_google"><i
                class="fa fa-github-alt"></i></a>
        </p>
    </div>
</footer>